<div class="jumbotron">
    <h1>Mickaël PONSOLLE</h1>
    <h2 class="lead">
        <img src="images/photo.jpg"><br/>
        Ingénieur en développement logiciel et Scrum Master
    </h2>
    <h3>Java/JEE, Javascript, PHP, Android, ...</h3>
    <p><a class="btn btn-lg btn-info" ng-href="#/competences">En savoir plus</a></p>
    <a class="twitter-timeline" href="https://twitter.com/mickaelponsolle" data-widget-id="496649402346242050">Tweets de @mickaelponsolle</a>
	<!-- Time line twitter --> 
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
